In [30]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Soumen').getOrCreate()

columns = ["Seqno","Quote","Year"]
data = [("1","Be the Change","1998"),("2","Time is Money","1976"),("3","Be simple Be Higher","2001"),("4","Be cool","2005")]

df = spark.createDataFrame(data,columns)

df.show(truncate=False) #Displaying full column contents

+-----+-------------------+----+
|Seqno|Quote              |Year|
+-----+-------------------+----+
|1    |Be the Change      |1998|
|2    |Time is Money      |1976|
|3    |Be simple Be Higher|2001|
|4    |Be cool            |2005|
+-----+-------------------+----+

In [31]:
df.select("Quote").show(truncate=False) #showing particular columns

+-------------------+
|Quote              |
+-------------------+
|Be the Change      |
|Time is Money      |
|Be simple Be Higher|
|Be cool            |
+-------------------+

In [35]:
df.select("Year","Seqno").show(2,truncate=False)#showing two columns with 2 rows

+----+-----+
|Year|Seqno|
+----+-----+
|1998|1    |
|1976|2    |
+----+-----+
only showing top 2 rows

In [39]:
df.drop("Year").show() #dropping Year column

+-----+-------------------+
|Seqno|              Quote|
+-----+-------------------+
|    1|      Be the Change|
|    2|      Time is Money|
|    3|Be simple Be Higher|
|    4|            Be cool|
+-----+-------------------+